<template id="template1">

<div class="label-border A">
	<div class="c1" data-f1="val1" data-f2="val2">c1</div>
	<div class="c2 blue-border"  title="c2_title">c2</div>
	<div class="c3" title="c3 title!">c3</div>

	<div class="c4">
		<div class="c1" id="tc1" title="tc1!">id=tc1</div>
		<div class="c2 blue-border" id="tc2">id=tc2</div>
		<div class="c3" id="tc3">id=tc3</div>
		<div class="c4" id="tc4">id=tc4</div>
		<div class="c5" id="tc5">id=tc5</div>
		<div class="c6" id="tc6">id=tc6</div>
	</div>
	<div style="display: none;">hidden</div>
	some text

</div>
<div class="label-border B">
	<div class="c1">c1</div>
	<div class="c2">c2</div>
	<div class="c3">c3</div>
	<div class="c4">
		<div class="c1">c1</div>
		<div class="c2">c2</div>
		<div class="c3">c3</div>
	</div>
	<button type="button" class="acc-btn acc-btn-icon-text acc-btn-arrow-up c5">button c5</button>
	<button type="button" class="acc-btn acc-btn-icon-text acc-btn-arrow-down c6">button c6</button>

	vehicle: <input type="checkbox" id="vehicle" value="Car" checked="checked"> <input type="text" id="tf1" value="tenka musou">

</div>

<div class="label-border C">
	<div class="c1">c1</div>
	<div class="c2"></div>

	<div class="c3">
		<div class="c1">c1</div>
		<div class="c2">c2</div>
		<div class="c3">
			<div class="c1">c1</div>
			<div class="c2">c2</div>
			<div class="c3">c3</div>
		</div>
	</div>

	<div class="c4">
		<div class="c1">c1</div>
	</div>

</div>
<h4>my header</h4>

</template>
