<template id="template1">


	<!--  acc-form-style1 -->
	<div id="form4" class="form-panel acc-2cols">

		<h4 class="acc-row">форма с класссом acc-form-style1</h4>


		<label>select1</label>
		<select id="select1">
			<option value="">-</option>
			<option value="1">Apple</option>
			<option value="2">Banana</option>
			<option value="3">Blackberry</option>
			<option value="4">Blueberry</option>
			<option value="5">Cherry</option>
			<option value="6">Cranberry</option>
			<option value="7">Grapes</option>
		</select>

		<label>select2</label>
		<select id="select2">
			<option value="">-</option>
			<option value="1">Apple</option>
			<option value="2">Banana</option>
			<option value="3">Blackberry</option>
			<option value="4">Blueberry</option>
			<option value="5">Cherry</option>
			<option value="6">Cranberry</option>
			<option value="7">Grapes</option>
			<option value="8">Kiwi</option>
			<option value="9">Mango</option>
			<option value="10">Orange</option>
			<option value="11">Peach</option>
			<option value="12">Pear</option>
			<option value="13">Pineapple</option>
			<option value="14">Raspberry</option>
		</select>
		<label>select3</label>
		<select id="select3">
		</select>

		<div class="acc-row acc-form-button-panel1">
			<button type="button" class="acc-btn" id="btn1">btn1</button>
			<button type="button" class="acc-btn" id="btn2">btn2</button>
			<button type="button" class="acc-btn" id="btn3">btn3</button>
		</div>
	</div>


</template>
