/*
@import "node_modules/ol/ol.css";

стили для демок с картами.


*/
.map {
	width: 100%;
	border: 1px solid black;
}

/* DebugInfoControl */
.debug-info-control {
	position: absolute;
	bottom: 20px;
	right: 10px;
	width: 500px;
	height: 100px;
	background: #ffffff;
	padding: 5px;
	border: 2px solid black;
	color: #000000;
}

/* CurrentZoomControl */
.olt-zoom {
	position: absolute;
	bottom: 45px;
	left: 10px;
	display: flex;
	flex-direction: row;
}

.olt-zoom-btn {
	background: #7d9abf;
	color: #fff;
	padding: 2px;
	text-align: center;
	width: 25px;
	height: 23px;
	font-size: 1.14em;
	font-weight: 700;
	border: 1px solid black;
	border-radius: 6px;
	margin: 0px 2px;
}

/* тестовый контрол поворота */
.test-rotate-control {
	position: absolute;
	top: 10px;
	left: 100px;
}

/* стандартный контрол, отменяющий поворот */
.ol-rotate {
	top: 4em;
}

/* OverviewMap */
.ol-overviewmap {
	left: 0.5em;
	top: 0.5em;
	bottom: unset;
}

/* distance measure styles */
.tooltip-measure {
	background-color: #ffcc33;
	color: black;
	border: 1px solid white;
	border-radius: 4px;
	padding: 4px 8px;
	white-space: nowrap;
}

.tooltip-measure:before {
	border-top: 6px solid #ffcc33;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: "";
	position: absolute;
	bottom: -6px;
	margin-left: -7px;
	left: 50%;
}

