<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8" />

<script src="../../jquery31/js/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="../../accord/css/accord.css">
<link rel="stylesheet" type="text/css" href="../../accord/css/tabbed-panel.css">
<link rel="stylesheet" type="text/css" href="../../accord/css/demo-base.css">
<script src="../../accord/js/demo-base-log.js"></script>
<script src="../../accord/js/demo-base.js"></script>
<script type="module" src="../../accord/js/accord-publish.js"></script>
<link rel="stylesheet" type="text/css" href="../../accord/css/acc-form-elements.css">

<script type="text/javascript" src="../js/001-demo.js"></script>


</head>

<body class="acc-default-font">

  <div class="basePanel">

    <div class="titlePanel">
      <h2>демо, использующее демо-кнопки</h2>
    </div>

    <div class="auxPanel" style="height: 600px;">
      <div class="logPanel gray-border">
        <div id="log1"></div>
      </div>
      <div class="logPanel gray-border">
        <div id="log2"></div>
      </div>
    </div>

    <div class="acc-button-panel"></div>

    <div class="workPanel">
    
    </div>


<template id="template1">

    <div  class="form-panel acc-form-style1">
        <div class="form-group">
          <label>inp1:</label>
          <input type="text"  id="inp1">
        </div>

        <div class="form-group">
          <label>inp2:</label>
          <input type="text"  id="inp2">
        </div>
      
        <div class="form-group">
          <label>inp3:</label>
          <select  id="inp3">
            <option>Banana</option>
            <option>Cherry</option>
            <option>Lemon</option>
          </select>
        </div>
      
        <div class="acc-row acc-form-button-panel1">
          <button class="acc-btn" id="btn1">Ok</button>
          <button class="acc-btn" id="btn2">Cancel</button>
        </div>
    </div>



</template>


  </div>
</body>
</html>

