<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8" />

<script src="../../jquery31/js/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="../../accord/css/accord.css">
<link rel="stylesheet" type="text/css" href="../../accord/css/tabbed-panel.css">
<link rel="stylesheet" type="text/css" href="../../accord/css/demo-base.css">
<script src="../../accord/js/demo-base-log.js"></script>
<script src="../../accord/js/demo-base.js"></script>
<script type="module" src="../../accord/js/accord-publish.js"></script>
<link rel="stylesheet" type="text/css" href="../../accord/css/acc-form-elements.css">

<script type="text/javascript" src="../js/004-demo.js"></script>


</head>

<body class="acc-default-font">

  <div class="basePanel">

    <div class="titlePanel">
      <h2>Самый примитивный шаблон (без логов и автокнопок)</h2>
    </div>


    <div class="acc-button-panel">
      <button id="b1" type="button" class="acc-btn">кнопка1</button>
      <button id="b2" type="button" class="acc-btn">кнопка2</button>
      <button id="b3" type="button" class="acc-btn">кнопка3</button>
    </div>

    <div class="workPanel">

      <div class="acc-2cols">
        <div>

          <div class="form-panel acc-2cols acc-form-style1">

            <label>inp1:</label>
          <input type="text"  id="inp1">

            <label>inp2:</label>
          <input type="text"  id="inp2">


            <label>Select box:</label>
          <select  id="inp3">
              <option>Banana</option>
              <option>Cherry</option>
              <option>Lemon</option>
            </select>
            <div class="acc-row acc-form-button-panel1">
	          <button class="acc-btn" id="btn1">Ok</button>
	          <button class="acc-btn" id="btn2">Cancel</button>
            </div>


          </div>

        </div>
      </div>


    </div>



  </div>


</body>
</html>

