<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8" />

<script src="../../jslibs/jquery31/js/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="../../accord-lib/css/accord.css">
<link rel="stylesheet" type="text/css" href="../../accord-lib/css/tabbed-panel.css">
<link rel="stylesheet" type="text/css" href="../../accord-lib/css/demo-base.css">
<script src="../../accord-lib/js/demo-base-log.js"></script>
<script src="../../accord-lib/js/demo-base.js"></script>
<script type="module" src="../../accord-lib/js/accord-publish.js"></script>
<link rel="stylesheet" type="text/css" href="../../accord-lib/css/acc-form-elements.css">



<script src="../js/005-demo.js"></script>



</head>
<body class="acc-default-font">

  <div class="basePanel">

    <div class="titlePanel">
      <h2>Шаблон_для_тестирования_js_кода</h2>
    </div>

    <div class="auxPanel" style="height: 400px;">

      <div class="logPanel gray-border full-width">
        <div id="log1"></div>
      </div>

    </div>




    <div class="acc-button-panel">

      <div class="acc-left-content">Обработчики1</div>
      <div class="acc-tool-panel-select-wrapper acc-dropdown-triangle">
        <select id="selectors1" class="acc-tool-panel-select" style="width: 200px;">
        </select>
      </div>
      <div class="acc-tool-panel-select-wrapper acc-dropdown-triangle">
        <select id="selectors2" class="acc-tool-panel-select" style="width: 200px;">
        </select>
      </div>



    </div>


    <div class="acc-button-panel">
      <div class="acc-centered-content">Текущий селектор:</div>
      <input type="text" id="selectorText" />

      <button id="bExecute" type="button" class="acc-btn">Выполнить</button>
      <button id="bReload" type="button" class="acc-btn">Перезагрузить песочницу</button>
      
      <div class="acc-filler-panel"></div>      
      
      <button id="bClearLog" type="button" class="acc-btn">Очистить лог</button>


    </div>










    <!--               work panel                -->

    <div class="workPanel label-border"></div>


  </div>


  <template id="template1">


    <div class="acc-2cols">

      <form action="." id="form1">
      <div class="form-panel acc-2cols acc-form-style1" id="formDiv1">

        <div class="acc-row acc-form-button-panel1">
          <button class="acc-btn" type="button" id="testBtn1">testBtn1</button>
          <button class="acc-btn" type="button" id="testBtn1">testBtn2</button>
        </div>

        <label>inp1:</label>
        <input type="text" id="inp1" value="John" autocomplete="off">
        <label>inp2:</label>
        <input type="text" id="inp2" value="Connor" autocomplete="off">
        <label>inp3:</label>
        <input type="text" id="inp3" autocomplete="off"/>

        <label>inp4:</label>
        <select id="inp4">
          <option>Banana</option>
          <option>Cherry</option>
          <option>Lemon</option>
        </select>
        <div class="acc-row acc-form-button-panel1">
          <button class="acc-btn" id="btn1">btn1</button>
          <button class="acc-btn" id="btn2">btn2</button>
        </div>

          <input type="submit" value="Submit">
      </div>
      </form>

      <div class="form-panel acc-2cols acc-form-style1" id="formDiv2">
        <label>inp11:</label>
        <input type="text" id="inp11" value="John">
      
      </div>
    </div>

  </template>


</body>
</html>