<div id="tsgNumberFilterPopup" class="acc-button-panel">

    <div class="acc-tool-panel-select-wrapper">
      <select class="filter-type">
        <option value="">=</option>
        <option value=">">&gt;</option>
        <option value=">=">&gt=</option>
        <option value="<">&lt</option>
        <option value="<=">&lt=</option>
        <option value="range">Диапазон</option>
      </select>
    </div>
    
    <input type="text" class="val1" value="1">
    <div>:</div>
    <input type="text" class="val2" value="2">
    <button type="button" class="acc-btn acc-btn-icon acc-btn-check btn-ok"></button>

</div>