

<div id="columnsOrderingGrid" class="tsg-columns-dialog-grid"></div>


<div id="columnsOrderingButtonPane" class="tsg-columns-dialog-button-pane">
	
	<button type="button" id="clearCookies" class="acc-btn acc-btn-icon acc-btn-rotate-left" title="Очистить настройки"></button>

	<button type="button" id="hideAll" class="acc-btn acc-btn-icon acc-btn-eye-crossed" title="Скрыть все столбцы"></button>
	<button type="button" id="showAll" class="acc-btn acc-btn-icon acc-btn-eye" title="Показать все столбцы"></button>

	<button type="button" id="rowUp" class="acc-btn acc-btn-icon acc-btn-arrow-up" title="Переместить столбец выше"></button>
	<button type="button" id="rowDown" class="acc-btn acc-btn-icon acc-btn-arrow-down" title="Переместить столбец ниже"></button>



</div>






