
<div class="edit-popup acc-button-panel" id="tsgTextEditPopup">
  <input autocomplete="off">
	<button type="button" class="acc-btn acc-btn-icon acc-btn-check"></button>  
  
  
  <!-- 
  <span class="glyphicon glyphicon-ok edit-popup-button"></span>
  <span class="glyphicon glyphicon-ok edit-popup-button"></span>
   -->
</div>



<div class="edit-popup acc-button-panel" id="tsgDateEditPopup">
  <input autocomplete="off">
	<button type="button" class="acc-btn acc-btn-icon acc-btn-check"></button>  
</div>
