<!-- Фрагмент, скопированный из 002_template_select.html  -->
<div class="basePanel">

	<div class="titlePanel">
		<h2>Demo</h2>
	</div>

	<div class="auxPanel">

		<div class="logPanel gray-border">
			<div id="log1"></div>
		</div>

		<div class="logPanel gray-border">
			<div id="log2"></div>
		</div>

	</div>


	<div class="acc-button-panel">

		<div class="acc-left-content">Обработчики1</div>
		<div class="acc-tool-panel-select-wrapper acc-dropdown-triangle">
			<select id="selectors1" class="acc-tool-panel-select"
				style="width: 200px;">
			</select>
		</div>
		<button id="bExecute" type="button" class="acc-btn">Выполнить
			(Enter)</button>

		<div class="acc-filler-panel"></div>

		<button id="bClearLog" type="button" class="acc-btn">Очистить лог (0)</button>


	</div>


	<!--               work panel                -->
	<div class="workPanel label-border"></div>


</div>
