<!-- DT_OPENLAYERS ver.2 -->
<div class="basePanel2">






	<div class="db-left acc-flex-column">

		<div class="titlePanel2">
			<h2>Demo</h2>
		</div>

		<div class="logPanel gray-border">
			<div id="log1"></div>
		</div>



		<div class="acc-button-panel">

			<div class="acc-tool-panel-select-wrapper acc-dropdown-triangle">
				<select id="selectors1" class="acc-tool-panel-select"
					style="width: 200px;">
				</select>
			</div>
			<button id="bExecute" type="button" class="acc-btn">Выполнить
				(Enter)</button>



		</div>

		<div class="acc-button-panel">
			<button id="bClearLog" type="button" class="acc-btn">Очистить
				логи</button>
			<button id="bReload" type="button" class="acc-btn">Перезагрузить
				песочницу (0)</button>
		</div>


	</div>

	<div id="map" class="map db-right"></div>















</div>
