
<template id="template1">
<form id="form1">
    <div  class="form-panel acc-form-style1">
        <div class="form-group">
          <label>inp1:</label>
          <input type="text"  id="inp1" name="inp1" autocomplete="off">
        </div>

        <div class="form-group">
          <label>inp2:</label>
          <input type="text"  id="inp2" name="inp2" autocomplete="off">
        </div>
      
        <div class="form-group">
          <label>inp3:</label>
          <select  id="inp3" name="inp3">
            <option>Banana</option>
            <option selected="selected">Cherry</option>
            <option>Lemon</option>
          </select>
        </div>
      
        <div class="acc-row acc-form-button-panel1">
          <button type="button" class="acc-btn" id="btn1">btn1</button>
          <button type="button" class="acc-btn" id="btn2">btn2</button>
          <button type="submit" class="acc-btn" id="btnSubmit">btnSubmit</button>
          
        </div>
    </div>
</form>
</template>