/*  
	border: 1px solid #ACA899;
*/
.demo-form-div {
	margin: 10px 15px;
}

.red-border {
	border: 1px solid red;
}

.blue-border {
	border: 1px solid blue;
}

.green-border {
	border: 1px solid green;
}

.my-custom-size-dialog {
	position: absolute;
	width: 900px;
	height: 1200px;
	left: 20px;
	top: 20px;
}


