
/* 012 demo styles */

.workPanel div {
  display: flex;
  gap: 10px;
  flex-basis: 40px;
}

.A div, .B div, .C div {
  flex-basis: 40px;
  justify-content: center;
  align-items: center;   
  display: flex;
  gap: 10px;
  padding: 5px;
}

.A div {
  background-color: Gold;
}
.B div {
  background-color: BurlyWood;
}
.C div {
  background-color: Aqua;
}


.B button {
  margin: 5px;
}


.A>div>div, .B>div>div, .C>div>div {
  background-color: WhiteSmoke;
}


/* рамка с подписью */
.label-border {
  position: relative;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 4px;
}

.workPanel::before {
  content: "workPanel";
  position: absolute;
  top: -10px;
  left: 10px;
  background: #fff;
  padding: 0 5px;
  font-size: 16px;
}

.A::before {
  content: "A";
  position: absolute;
  top: -10px;
  left: 10px;
  background: #fff;
  padding: 0 5px;
  font-size: 16px;
}

.B::before {
  content: "B";
  position: absolute;
  top: -10px;
  left: 10px;
  background: #fff;
  padding: 0 5px;
  font-size: 16px;
}


.C::before {
  content: "C";
  position: absolute;
  top: -10px;
  left: 10px;
  background: #fff;
  padding: 0 5px;
  font-size: 16px;
}



